# Declare these variables for each environment (dev, prod, etc.)
# Non-Production
ODOO_ERP_URL=https://adaminfo-dev-XXXX.apps.oec.sh/
ODOO_LOGIN_USERNAME=admin
ODOO_LOGIN_PASSWORD=your_dev_password_here
ODOO_DB=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

# Production
ODOO_ERP_URL=https://adaminfo-prod-XXXX.apps.oec.sh/
ODOO_LOGIN_USERNAME=admin
ODOO_LOGIN_PASSWORD=your_prod_password_here
ODOO_DB=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

# SSH access to the Odoo host (docker-based oec.sh SaaS)
# ssh user@ip-address-of-host
# Addon path on host: /opt/oecsh/CHANGE_ME/addons/adaminfo-dev-v1
SSH_HOST=changeMe
SSH_USER=changeMe
ODOO_ADDON_PATH=changeMe